p {
  background-color: #1e2127;
  color: #cc9764;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  font-weight: 300;
  font-size: medium;
  text-align: center;
}
